#root {
    top: 0;
    max-width: 550px;
    margin: auto;
    padding: 0.1rem;
    text-align: center;
    margin-top: 0%;
    min-width: 550px;
  }


  .container{
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 98%;
  
    .options{
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
    }
  }


// .container {
//   display: flex;
//   flex: 1;
//   flex-direction: column;
//   width: 98%;

//   &__options{
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     flex-wrap: wrap;
//   }
// }
  
 